# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
*.beam
*.app
*.log
log
boss_webserver:8001.access
boss_webserver:8001.auth
